*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	padding: 20px;
	text-align: center;
}
header{
	width: 90%;
	max-width: 1000px;
	margin:10px auto;
	font-size: 20px;
	background-color: #375EC1;
	color: #fff;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
}
a{
	display: block;
	text-decoration: none;
	margin-right: 5px;
	padding: 15px;
	color: #fff;
	transition: all .3s ease;
}
a:hover{
	background-color: #7EEAC8;
	color: #000;
}